[Desktop Entry]
Name = Classic
Name[ru]=Классическая
Comment = A classic login prompt
Comment[ru]=Классическое приглашение входа
Version = 0.3
Author = David Edmundson
Homepage = http://kde.org
