# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=LightDM KDE Greeter (X11)
Name[ar]=مُرحِّب LightDM لكيدي (اكس 11)
Name[ca]=Pantalla de benvinguda de KDE del LightDM (X11)
Name[ca@valencia]=Pantalla de benvinguda de KDE de LightDM (X11)
Name[cs]=Přihlašovací obrazovka LightDM KDE (X11)
Name[es]=Bienvenida a KDE en LightDM (X11)
Name[eu]=LightDM KDE harreragilea (X11)
Name[fi]=KDE:n LightDM-tervehtijä (X11)
Name[fr]=Écran d'accueil LightDM de KDE (X11)
Name[he]=LightDM - מקבל הפנים של KDE (X11)
Name[ia]=LightDM KDE Greeter (Salutator de LightDM KDE) (X11)
Name[it]=Schermata di benvenuto per KDE di LightDM (X11)
Name[ka]=LightDM KDE მისალმების პროგრამა (X11)
Name[ko]=LightDM KDE 환영 도구(X11)
Name[lv]=„LightDM“ KDE sveicinātājs (X11)
Name[nl]=LightDM KDE begroeting (X11)
Name[pl]=Odźwierny KDE LightDM (X11)
Name[pt_BR]=Autenticador do KDE no LightDM (X11)
Name[ro]=Întâmpinare LightDM pentru KDE (X11)
Name[sl]=LightDM KDE Greeter (X11)
Name[sv]=LightDM KDE-hälsningsprogram (X11)
Name[tr]=LightDM KDE Karşılayıcısı (X11)
Name[uk]=Засіб вітання KDE LightDM (X11)
Name[zh_CN]=LightDM KDE 欢迎屏幕 (X11)
Name[zh_TW]=LightDM KDE Greeter (X11)
Comment=This runs the KDE greeter (X11 session), it should only be run from LightDM
Comment[ar]=يؤدي هذا إلى تشغيل مُرحِّب كيدي (جلسة اكس 11)، ويجب تشغيله فقط من LightDM
Comment[ca]=Això executa la pantalla de benvinguda de KDE (sessió X11), només s'ha d'executar des del LightDM
Comment[ca@valencia]=Açò executa la pantalla de benvinguda de KDE (sessió X11), només s'ha d'executar des de LightDM
Comment[cs]=Toto spouští uvítací obrazovku KDE (sezení X11), která by měla být spuštěna pouze z LightDM
Comment[es]=Esto ejecuta la bienvenida a KDE (sesión X11), que solo se debe ejecutar desde LightDM
Comment[eu]=Honek KDE harreragilea (X11 saioa) exekutatzen du, LightDM-etik bakarrik exekutatu beharko litzateke
Comment[fi]=Suorittaa KDE-tervehtijän (X11-istunnossa); tulisi suorittaa vain LightDM:stä
Comment[fr]=Ceci lance l'écran d'accueil de KDE (Version pour X11). Celui-ci ne devrait être exécuté qu'à partir de LightDM.
Comment[he]=מריץ את מקבל הפנים של KDE (הפעלה של X11), יש להריץ אותו רק מ־LightDM
Comment[ia]=Isto executa le salutator de KDE (Sessionn X11), il deberea solmente essser executate per LightDM
Comment[it]=Questo esegue la schermata di benvenuto di KDE (sessione di X11), dovrebbe essere eseguito solo da LightDM
Comment[ka]=ეს უშვებს KDE-ის მისალმების პროგრამას (X11-ის სესიაზე), რომელიც, მხოლოდ, LightDM-დან უნდა გაეშვას
Comment[ko]=KDE 환영 도구(X11 세션)를 실행합니다. LightDM 내부에서만 실행되어야 함
Comment[lv]=Palaiž KDE sveicinātāju (X11 sesija), to vajadzētu palaist tikai no „LightDM“
Comment[nl]=Dit activeert de KDE begroeting (X11-sessie), het zou alleen actief moeten zijn vanuit LightDM
Comment[pl]=Uruchamia to odźwiernego KDE (posiedzenie X11), który powinien być uruchamiany tylko z LightDM
Comment[pt_BR]=Isso executa o autenticador do KDE (sessão X11), ele só deve ser executado no LightDM
Comment[ro]=Aceasta rulează întâmpinarea pentru KDE (sesiune X11), trebuie rulată doar din LightDM
Comment[sl]=To zažene KDE pozdravni program (v seji X11), zagnati se ga sme le iz programa LightDM
Comment[sv]=Det här kör KDE:s hälsningsprogram (X11-session), det ska bara köras från LightDM
Comment[tr]=Bu, KDE karşılayıcısını (X11) çalıştırır; yalnızca LightDM üzerinden çalıştırılmalıdır
Comment[uk]=Запускає засіб вітання KDE (сеанс X11), слід запускати лише з LightDM
Comment[zh_CN]=用于启动 KDE 欢迎屏幕 (X11 会话)，只应从 LightDM 启动
Comment[zh_TW]=這會執行 KDE Greeter (X11)，它只適合從 LightDM 執行
Exec=lightdm-kde-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
