# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=LightDM KDE Greeter
Name[ca]=Pantalla de benvinguda de KDE del LightDM
Name[ca@valencia]=Pantalla de benvinguda de KDE de LightDM
Name[cs]=Přihlašovací obrazovka LightDM KDE
Name[en_GB]=LightDM KDE Greeter
Name[eo]=LightDM KDE-Salutanto
Name[es]=Bienvenida LightDM de KDE
Name[fr]=Écran d'accueil de LightDM
Name[it]=Schermata di benvenuto per KDE di LightDM
Name[nl]=LightDM KDE begroeting
Name[sl]=LightDM KDE Greeter
Name[sv]=LightDM KDE-hälsningsprogram
Name[tr]=LightDM KDE Karşılayıcısı
Name[uk]=Засіб вітання KDE LightDM
Name[x-test]=xxLightDM KDE Greeterxx
Name[zh_CN]=LightDM KDE 欢迎屏幕
Name[zh_TW]=LightDM KDE Greeter
Comment=This runs the KDE greeter, it should only be run from LightDM
Comment[ca]=Això executa la pantalla de benvinguda de KDE, només s'ha d'executar des del LightDM
Comment[ca@valencia]=Açò executa la pantalla de benvinguda de KDE, només s'ha d'executar des de LightDM
Comment[en_GB]=This runs the KDE greeter, it should only be run from LightDM
Comment[eo]=Ĉi tio ruligas la KDE-salutanton, ĝi devus nur lanĉiĝi el LightDM
Comment[es]=Esto ejecuta el saludador de KDE, que solo se debe ejecutar desde LightDM
Comment[fr]=Ceci lance l'écran d'accueil de KDE. Celui-ci ne doit être exécuté qu'à partir de LightDM
Comment[it]=Questo esegue la schermata di benvenuto di KDE, dovrebbe essere eseguito solo da LightDM
Comment[nl]=Dit activeert de KDE begroeting, het zou alleen actief moeten zijn vanuit LightDM
Comment[sl]=To zažene KDE greeter, zagnati se ga sme samo iz LightDM
Comment[sv]=Det här kör KDE:s hälsningsprogram, det ska bara köras från LightDM
Comment[tr]=Bu, KDE karşılayıcısını çalıştırır; yalnızca LightDM üzerinden çalıştırılmalıdır
Comment[uk]=Запускає засіб вітання KDE, слід запускати лише з LightDM
Comment[x-test]=xxThis runs the KDE greeter, it should only be run from LightDMxx
Comment[zh_CN]=用于启动 KDE Greeter，只应从 LightDM 启动
Comment[zh_TW]=這會執行 KDE Greeter，它只適合從 LightDM 執行
Exec=lightdm-kde-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
