# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=LightDM KDE Greeter (X11)
Comment=This runs the KDE greeter (X11 session), it should only be run from LightDM
Exec=lightdm-kde-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
