# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Name=User Bar
Name[ca]=Barra d'usuaris
Name[ca@valencia]=Barra d'usuaris
Name[cs]=Pruh uživatelů
Name[de]=Benutzerleiste
Name[en_GB]=User Bar
Name[eo]=Uzantbreto
Name[es]=Barra de usuarios
Name[eu]=Erabiltzaile-barra
Name[gl]=Barra de persoa usuaria
Name[he]=סרגל משתמשים
Name[it]=Barra degli utenti
Name[ka]=მომხმარებლის პანელი
Name[nl]=Balk met gebruikers
Name[pl]=Pasek użytkownika
Name[sl]=Vrstica uporabnikov
Name[sv]=Användarrad
Name[tr]=Kullanıcı Çubuğu
Name[uk]=Панель користувачів
Name[zh_CN]=用户栏
Name[zh_TW]=使用者列
Comment=Pick your user from the user bar.
Comment[ca]=Trieu el vostre usuari de la barra d'usuaris.
Comment[ca@valencia]=Seleccioneu el vostre usuari de la barra d'usuaris.
Comment[cs]=Vyberte si svůj účet z pruhu uživatelů.
Comment[de]=Bitte wählen Sie den Benutzer von der Benutzerleiste.
Comment[en_GB]=Pick your user from the user bar.
Comment[eo]=Elektu vian uzanton el la uzantbreto.
Comment[es]=Seleccione un usuario de la barra de usuarios.
Comment[eu]=Hartu zure erabiltzailea erabiltzaile-barratik.
Comment[gl]=Escolla a súa conta da barra de persoas usuarias.
Comment[he]=נא לבחור את המשתמש שלך מסרגל המשתמשים.
Comment[it]=Scegli il tuo utente dalla barra degli utenti.
Comment[ka]=აირჩიეთ თქვენი მომხმარებელი მომხმარებლის ზოლიდან.
Comment[nl]=Kies uw gebruiker uit de balk met gebruikers.
Comment[pl]=Wybierz swojego użytkownika z paska użytkowników.
Comment[sl]=Poberite uporabnika iz vrstic uporabnikov.
Comment[sv]=Välj användare från användarraden.
Comment[tr]=Kullanıcı çubuğundan kullanıcınızı seçin.
Comment[uk]=Виберіть вашого користувача за допомогою панелі користувачів.
Comment[zh_CN]=从用户栏选择想要使用的用户。
Comment[zh_TW]=從使用者列選擇您的使用者。
Version=0.3
Author=Aurélien Gâteau
Homepage=http://kde.org
