# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Name=User Bar
Name[ca]=Barra d'usuaris
Name[ca@valencia]=Barra d'usuaris
Name[es]=Barra de usuarios
Name[nl]=Balk met gebruikers
Name[sl]=Vrstica uporabnikov
Name[tr]=Kullanıcı Çubuğu
Name[uk]=Панель користувачів
Name[x-test]=xxUser Barxx
Comment=Pick your user from the user bar.
Comment[ca]=Trieu el vostre usuari de la barra d'usuaris.
Comment[ca@valencia]=Seleccioneu el vostre usuari de la barra d'usuaris.
Comment[es]=Seleccione un usuario de la barra de usuarios.
Comment[nl]=Kies uw gebruiker uit de balk met gebruikers.
Comment[sl]=Poberite uporabnika iz vrstic uporabnikov.
Comment[tr]=Kullanıcı çubuğundan kullanıcınızı seçin.
Comment[uk]=Виберіть вашого користувача за допомогою панелі користувачів.
Comment[x-test]=xxPick your user from the user bar.xx
Version=0.3
Author=Aurélien Gâteau
Homepage=http://kde.org
